.App {
  height: 100vh;
}

.leftNavPanel {
  border-right: 3px solid #9C9C9C;
  height: 100vh;
}

.rightHome {
  height: 100vh;
  overflow-y: auto;
}

.blocViewHeader {
  text-align: center;
}

.countryCard {
  margin-bottom: 5px;
}

.flag {
  width: 33%;
  height: 100%;
  display: inline-block;
  border: 1px solid #eeeeeec2;
}

.countryDetails {
  display: inline-block;
  vertical-align: top;
  padding-left: 5%;
  width: 33%;
}

.countryTrackButton {
  display: inline-block;
  padding-left: 5%;
  width: 33%;
}

.inlineText {
  display: inline-block;
}