.App {
  height: 100vh;
}

.leftNavPanel {
  border-right: 3px solid #9C9C9C;
  height: 100vh;
}

.rightHome {
  height: 100vh;
}

.trackingLink {
  padding-right: 20%;
  font-size: 24px;
  text-align: right;
}